<div class="text-container">
  <h2>Este é o componente 'text'</h2>
  <h3>Lorem Ipsum Title 1</h3>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium itaque
    beatae possimus quidem, quis vero mollitia eum eos voluptatum error velit
    quisquam. Autem illo nulla harum ea rem sit aspernatur, a aperiam, suscipit
    placeat recusandae facere iste accusantium quod. Facilis illum rem nam
    accusantium, recusandae in provident temporibus magni. Quia itaque eum
    cupiditate dignissimos illo facilis harum sit, repellendus facere
    necessitatibus nostrum reiciendis quod possimus perferendis? Odio ipsa quae
    maxime consequuntur itaque ducimus, tenetur sint?
  </p>
  <h3>Lorem Ipsum Title 2</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium itaque
    beatae possimus quidem, quis vero mollitia eum eos voluptatum error velit
    quisquam. Autem illo nulla harum ea rem sit aspernatur, a aperiam, suscipit
    placeat recusandae facere iste accusantium quod. Facilis illum rem nam
    accusantium, recusandae in provident temporibus magni. Quia itaque eum
    cupiditate dignissimos illo facilis harum sit, repellendus facere
    necessitatibus nostrum reiciendis quod possimus perferendis? Odio ipsa quae
    maxime consequuntur itaque ducimus, tenetur sint?
  </p>
</div>
